{% extends 'master.html' %}

{% load static %}

{% block page_title %}
    Каталог
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'project/fontawesome-free-5.1.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'project:index' %}">Home</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <div class="catalog">
        <h1>Каталог</h1>

        <div class="productsCatalog">
            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT41113.jpg' %}" class="catalog-img" alt="Товар 1" title="Товар 1">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Fernandes LE-1Z BLK/ R
                    </div>
                    <div class="catalog-productUnitLink">
                    <a href="{% url 'project:product' %}">подробнее</a>
                    </div>
                    <div class="catalog-productUnitPrice">
                        12 990 руб.
                    </div>
                    <div class="catalog-productUnitDiscount">
                        14 990 руб.
                    </div>
                </div>
            </div>

            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT62562.jpg' %}" class="catalog-img" alt="Товар 2" title="Товар 2">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Pearl RS525SC/ C31
                    </div>
                    <div class="catalog-productUnitPrice">
                        35 450 руб.
                    </div>
                    <div class="catalog-productUnitDiscount">
                        39 990 руб.
                    </div>
                </div>
            </div>

            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT61530.jpg' %}" class="catalog-img" alt="Товар 3" title="Товар 3">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Yamaha P-45B
                    </div>
                    <div class="catalog-productUnitPrice">
                        28 800 руб.
                    </div>
                    <div class="catalog-productUnitDiscount">
                        31 990 руб.
                    </div>
                </div>
            </div>

            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT33126.jpg' %}" class="catalog-img" alt="Товар 4" title="Товар 4">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Strunal 331W, 4/4
                    </div>
                    <div class="catalog-productUnitPrice">
                        70 883 руб.
                    </div>
                </div>
            </div>

            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT48041.jpg' %}" class="catalog-img" alt="Товар 5" title="Товар 5">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Strunal 16W 1/8
                    </div>
                    <div class="catalog-productUnitPrice">
                        18 323 руб.
                    </div>
                </div>
            </div>

            <div class="catalog-productUnit">
                <div class="catalog-productUnitImg">
                    <img src="{% static 'project/images/products/CNT45086.jpg' %}" class="catalog-img" alt="Товар 5" title="Товар 5">
                </div>
                <div class="catalog-productUnitBottom">
                    <div class="catalog-productUnitName">
                        Wisemann DAS-400
                    </div>
                    <div class="catalog-productUnitPrice">
                        58 254 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer_img %}
    <img src="{% static 'project/images/payment.png' %}" alt="">
{% endblock %}
