{% extends 'master.html' %}

{% load static %}

{% block page_title %}
    Главная страница
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'project/fontawesome-free-5.1.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
{% endblock %}

{% block page_content %}
    <div class="main">
        <div class="mainInside">
                <div class="mainInsideLeft">
                    {% include 'project/componets/menu.html' %}

                    <div class="mainInsideLeftBanner">
                        <h1>NOW IS OPEN</h1>
                    </div>
                </div>


                <div class="mainInsideRight">
                    <div class="mainInsideRight_new_products">
                        <h3>NEW PRODUCTS</h3>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <div class="catalog-productUnitImgNew">New</div>
                                <img src="{% static 'project/images/products/CNT41113.jpg' %}" class="main-catalog-img" alt="Товар 1" title="Товар 1">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Fernandes LE-1Z BLK/ R
                                </div>
                                <div class="catalog-productUnitPrice">
                                    12 990 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    14 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <div class="catalog-productUnitImgHot">Hot</div>
                                <img src="{% static 'project/images/products/CNT62562.jpg' %}" class="main-catalog-img" alt="Товар 2" title="Товар 2">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Pearl RS525SC/ C31
                                </div>
                                <div class="catalog-productUnitPrice">
                                    35 450 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    39 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT61530.jpg' %}" class="main-catalog-img" alt="Товар 3" title="Товар 3">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Yamaha P-45B
                                </div>
                                <div class="catalog-productUnitPrice">
                                    28 800 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    31 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT33126.jpg' %}" class="main-catalog-img" alt="Товар 4" title="Товар 4">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Strunal 331W, 4/4
                                </div>
                                <div class="catalog-productUnitPrice">
                                    70 883 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT48041.jpg' %}" class="main-catalog-img" alt="Товар 5" title="Товар 5">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Strunal 16W 1/8
                                </div>
                                <div class="catalog-productUnitPrice">
                                    18 323 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT45086.jpg' %}" class="main-catalog-img" alt="Товар 5" title="Товар 5">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Wisemann DAS-400
                                </div>
                                <div class="catalog-productUnitPrice">
                                    58 254 руб.
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="mainInsideRightTopProducts">
                        <h3>TOP PRODUCTS</h3>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT33126.jpg' %}" class="main-catalog-img" alt="Товар 4" title="Товар 4">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Strunal 331W, 4/4
                                </div>
                                <div class="catalog-productUnitPrice">
                                    70 883 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <div class="catalog-productUnitImgHot">Hot</div>
                                <img src="{% static 'project/images/products/CNT62562.jpg' %}" class="main-catalog-img" alt="Товар 2" title="Товар 2">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Pearl RS525SC/ C31
                                </div>
                                <div class="catalog-productUnitPrice">
                                    35 450 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    39 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT45086.jpg' %}" class="main-catalog-img" alt="Товар 5" title="Товар 5">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Wisemann DAS-400
                                </div>
                                <div class="catalog-productUnitPrice">
                                    58 254 руб.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mainInsideRightSaleProducts">
                        <h3>SALE PRODUCTS</h3>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <div class="catalog-productUnitImgNew">New</div>
                                <img src="{% static 'project/images/products/CNT41113.jpg' %}" class="main-catalog-img" alt="Товар 1" title="Товар 1">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Fernandes LE-1Z BLK/ R
                                </div>
                                <div class="catalog-productUnitPrice">
                                    12 990 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    14 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <div class="catalog-productUnitImgHot">Hot</div>
                                <img src="{% static 'project/images/products/CNT62562.jpg' %}" class="main-catalog-img" alt="Товар 2" title="Товар 2">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Pearl RS525SC/ C31
                                </div>
                                <div class="catalog-productUnitPrice">
                                    35 450 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    39 990 руб.
                                </div>
                            </div>
                        </div>

                        <div class="mainCatalog-productUnit">
                            <div class="catalog-productUnitImg">
                                <img src="{% static 'project/images/products/CNT61530.jpg' %}" class="main-catalog-img" alt="Товар 3" title="Товар 3">
                            </div>
                            <div class="catalog-productUnitBottom">
                                <div class="catalog-productUnitName">
                                    Yamaha P-45B
                                </div>
                                <div class="catalog-productUnitPrice">
                                    28 800 руб.
                                </div>
                                <div class="catalog-productUnitDiscount">
                                    31 990 руб.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mainInsideBottom">
                    <div class="mainInsideBottomBrand">

                    </div>

                    <div class="mainInsideBottomInst">
                        <a href="#"><i class="fab fa-instagram fa-lg">Instagram feed: #music-shop</i></a>
                        <div class="mainInsideBottomInstImg">
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/solo-violinist-619154_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/baby-1387700_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/the-old-man-2421678_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/orchestra-2098877_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/pianist-1149172_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                            <div class="mainInsideBottomInstImgUnit">
                                <img src="{% static 'project/images/photo-instagram/drummer-652345_640.jpg' %}" class="instagram-img" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="mainInsideBottomBigIcons">
                        <i class="fab fa-facebook-f fa-5x"></i>
                        <i class="fab fa-twitter fa-5x"></i>
                        <i class="fab fa-pinterest-p fa-5x"></i>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block page_footer_img %}
    <img src="{% static 'project/images/payment.png' %}" alt="">
{% endblock %}
